
.login-card {
  width: 800px;

  
  @media only screen and (max-width: 768px){
    width: 400px;
  }
}

.img {
  background-image: url('/assets/images/cinema2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @media only screen and (max-width: 768px){
    height: 200px;
  }
}

button.submit {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #e40f4c;
  color: white;
  transition: transform 0.3s ease-in-out;

  &:hover {
    background-color: lighten(#e40f4c, 10%);
    transform: scale(1.1);
  }
}

.wrap {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 768px){

.login-card {
  width: 400px;
}
  .img {
    height: 200px;
  }
}